<section id="container">
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-heartbeat tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="/" class="logo"><b>CLINBEACON</b></a>
    <!--logo end-->
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li class="user-display"><i class="fa fa-user" aria-hidden="true"></i>test@fs180.onmicrosoft.com</li>
        <li><button class="logout" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </header>
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <li class="mt">
          <a routerLink="/">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sub-menu">
          <a routerLink="/patient">
            <i class="fa fa-user"></i>
            <span>Individuals</span>
          </a>
        </li>
        <li class="sub-menu">
          <a routerLink="/import">
            <i class="fa fa-th"></i>
            <span>VCF Data</span>
          </a>
        </li>
        <li class="sub-menu">
          <a routerLink="/settings">
            <i class="fa fa-cogs"></i>
            <span>Settings</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <section id="main-content" style="margin-left: 210px;">
    <section class="wrapper">

      <router-outlet></router-outlet>

    </section>
  </section>
</section>