/*--------------bcs--------------*/

.bc-content {
    margin-bottom: 0;
}

.bc-panel {
	background: #fff;
	text-align: left;
	box-shadow: 0px 3px 2px #aab2bd;
	margin: 5px;
}
.bc-panel h4{
  display: inline-block;
}
.edit-list{
  margin-right:5px;
}
.edit-list button{
  width:40px;
  height:40px;
  font-size:14px;
}
.bcs-widget .bc-content:after {
	clear: both;
}

.bcs-widget .bc-footer  {
	margin-top: 5px;
}

.bcs-widget .bc-footer:after,
.bcs-widget .bc-footer:before {
	content: "";
	display: table;
	line-height: 0;
}

.bcs-widget .bc-footer:after {
	clear: both;
}

.bcs-widget  .bc-list {
  padding:0;
  margin:0;
}

.bcs-widget .bc-list > li {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #eaeaea;
}

.bcs-widget .bc-list  li.last-line {
  border-bottom:none;
}

.bcs-widget .bc-list  li > .bc-bell  {
  margin-left:10px;
}

.bcs-widget .bc-list  li > .bc-photo {
	float:left;
	width:40px;
  margin-right:5px;
}
.bcs-widget .bc-list  li > .bc-photo img{
	height:40px;
	width:40px;
}
.bcs-widget .bc-list  li > .bc-title  {
  overflow:hidden;
  margin-right:10px;
  display: inline-block;
}

.bcs-widget .bc-list  li > .bc-config {
	position:absolute;
	top:10px;
	right:10px;
}

.bcs-widget .bc-list  li .bc-title .bc-title-sp  {
  margin-right:5px;
  font-weight:bold;
  font-size:14px;
}

.bcs-widget .bc-list  li.bc-done .bc-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.bcs-widget .bc-list  li.bc-done  {
  background:#f6f6f6;
}

.bcs-widget .bc-list  li.bc-done:hover {
  background:#f4f4f4;
}

.bcs-widget .bc-list  li:hover  {
  background:#f9f9f9;
}

.bcs-widget .bc-list  li .bc-config {
  display:none;
}

.bcs-widget .bc-list  li:hover > .bc-config {
  display:block;
  margin-bottom:0 !important;
}


@media only screen and (max-width: 320px) {

	.bcs-widget .bc-config-btn {
		float:inherit;
		display:block;
	}

	.bcs-widget .bc-list-projects li > .label {
		margin-bottom:5px;
	}

}
