<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <section class="form-panel tasks-widget" style="margin:0;">
      <h4 class="mb"><i class="fa fa-angle-right"></i>Individual Details</h4>
      <div class="form-group">
        <label>Reference</label>
        <input class="form-control" [(ngModel)]="reference">
      </div>
      <h4 class="mb" style="margin-top:20px;"><i class="fa fa-angle-right"></i> Phenotype</h4>
      <div class="form-group">
        <label>Sample</label>
        <input class="form-control">
      </div>
      <h4 class="mb" style="margin-top:20px;"><i class="fa fa-angle-right"></i> Pedigree</h4>
      <div class="form-group">
        <label>Sample</label>
        <input class="form-control">
      </div>
      <a class="btn btn-primary btn-sm" (click)="save()">Save</a>
    </section>
    <section [hidden]="!showGenePanel" class="task-panel tasks-widget" style="margin-left:0;margin-right:0">
      <div class="panel-heading">
        <div class="pull-left">
          <h5><i class="fa fa-user"></i> Genetic Samples</h5>
        </div>
        <br>
      </div>
      <div class="panel-body">
        <div class="task-content">
          <ul id="sortable" class="task-list ui-sortable" *ngFor="let item of samples">
            <li class="list-success">
              <div class="task-title">
                <span class="task-title-sp">{{item.id}}</span><br>
              </div>
            </li>
          </ul>
          <div>
            <br/>
            <div>
              <input type="file" accept="vcf" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
              <br/>
              <button [disabled]="uploading" type="button" (click)="import()" class="btn btn-theme"><i class="fa fa-share-alt"></i> Upload</button>
              <div [hidden]="!uploading">uploading...</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>