<h1>Admin Panel: Organizations</h1>
<section class="bc-panel bcs-widget">
<div class="panel-heading">
  <div class="pull-left"><h5><i class="fa fa-share-alt"></i> List of Beacons</h5></div>
  <br>
</div>
<div class="panel-body">
  <div class="bc-content">
    <ul id="sortable" class="bc-list ui-sortable"  *ngFor="let item of organizations">
      <li class="list-success">
        <div class="bc-photo">
          <img src="../img/no-logo.jpg">
        </div>
        <div class="bc-title">
          <span class="bc-title-sp">{{item.name}}</span><span class="badge bg-success">Online</span><br>
          <span class="bc-details-sp">Beacon hosted by clingen research and development team</span>
        </div>
        <div class="pull-right edit-list">
            <button class="btn btn-primary fa fa-pencil" (click)="this.router.navigate(['/manage/beacons/', item.id])"></button>
            <button class="btn btn-danger fa fa-trash-o" (click)="delete(item.id)"></button>
        </div>
      </li>
    </ul>
    <!--
    <ul id="sortable" class="bc-list ui-sortable">
      <li class="list-danger">
        <div class="bc-photo">
          <img src="../img/no-logo.jpg">
        </div>
        <div class="bc-title">
          <span class="bc-title-sp">Extensive collection of plugins</span><span class="badge bg-important">Disabled</span><br>
          <span class="bc-details-sp">Extensive collection of plugins</span>
        </div>
        <div class="pull-right edit-list">
            <button class="btn btn-primary fa fa-pencil"></button>
            <button class="btn btn-danger fa fa-trash-o"></button>
        </div>
      </li>
      <li class="list-success">
        <div class="bc-photo">
          <img src="../img/no-logo.jpg">
        </div>
        <div class="bc-title">
          <span class="bc-title-sp">Extensive collection of plugins</span><span class="badge bg-warning">Offline</span><br>
          <span class="bc-details-sp">Extensive collection of plugins</span>
        </div>
        <div class="pull-right edit-list">
            <button class="btn btn-primary fa fa-pencil"></button>
            <button class="btn btn-danger fa fa-trash-o"></button>
        </div>
      </li>
      <li class="list-warning">
        <div class="bc-photo">
          <img src="../img/no-logo.jpg">
        </div>
        <div class="bc-title">
          <span class="bc-title-sp">Extensive collection of plugins</span><span class="badge bg-success">Online</span><br>
          <span class="bc-details-sp">Extensive collection of plugins Extensive collection of plugins</span>
        </div>
        <div class="pull-right edit-list">
            <button class="btn btn-primary fa fa-pencil"></button>
            <button class="btn btn-danger fa fa-trash-o"></button>
        </div>
      </li>
    </ul>
    -->
  </div>
  <div>
    <br/>
    <div>
      <button type="button" (click)="this.router.navigate(['/manage/beacons/new'])" class="btn btn-theme"><i class="fa fa-share-alt"></i> Add</button>
    </div>
  </div>
</div>
</section>
