<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 mb">
  	<div class="content-panel pn">
  		<div id="spotify">
  			<div class="col-xs-3 col-xs-offset-9">
  				<button class="btn btn-sm btn-clear-g">CHANGE</button>
  			</div>
  			<div class="sp-title">
  				<h4>USERNAME</h4>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <section class="form-panel tasks-widget" style="margin:0;">
      <h4 class="mb"><i class="fa fa-angle-right"></i> Organization Details</h4>
      <form>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input class="form-control" placeholder="Description">
      </div>
      <div class="form-group">
        <label>Website</label>
        <input class="form-control" placeholder="https://www.clinicalgenome.org">
      </div>
      <div class="form-group">
        <label>Address</label>
        <input class="form-control" placeholder="Address">
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>City</label>
          <input class="form-control" placeholder="City">
        </div>
        <div class="col-md-4">
          <label>State</label>
          <input class="form-control" placeholder="State">
        </div>
        <div class="col-md-4">
          <label>Zip</label>
          <input class="form-control" placeholder="Zip">
        </div>
      </div>
      <h4 class="mb" style="margin-top:40px;"><i class="fa fa-angle-right"></i> Contact Details</h4>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input class="form-control" placeholder="Phone">
      </div>
      <h4 class="mb" style="margin-top:40px;"><i class="fa fa-angle-right"></i> Beacon Details</h4>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Endpoint</label>
        <input class="form-control" placeholder="http://beacon.westus.cloudapp.azure.com">
      </div>
      <label style="margin-bottom:0;">Status</label>
      <div class="radio beacon-status">
			  <label>
			    <input type="radio" name="optionsRadios" value="option1" checked="">Online
			  </label>
			  <label>
			    <input type="radio" name="optionsRadios" value="option2">Offline
			  </label>
			  <label>
			    <input type="radio" name="optionsRadios" value="option2">Disabled
			  </label>
			</div>
      <label style="margin-bottom:0;">Enable / Disable Beacon</label>
      <label class="checkbox-inline" style="margin-bottom:15px;">
			  <input type="checkbox" id="inlineCheckbox3" value="option3" checked> Enable Beacon
			</label>
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-12"><a class="btn btn-default btn-sm" href="todo_list.html#">Test</a></div>
      </div>
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-12"><a class="btn btn-default btn-sm" href="#">Download Credentials</a></div>
      </div>
        <a class="btn btn-primary btn-sm" href="todo_list.html#">Save</a>
      </form>
    </section>
  </div>
</div>
